
# <font color='red'> SETS AND TUPLES </font>

# <font color='blue'> 1. PRINT HELLO FOLLOWED BY THE NAMES AND THE AGE IN THE TUPLE

In [1]:
a = ("chanel", 26)

print("Hello {} {}".format(a[0], a[1]))

Hello chanel 26

# <font color='blue'> 2. DEFINE A TUPLE WITH 6 OF YOUR FAVOURITE FRIENDS, PRINT (1) ALL THE TUPLE, (2) LAST ELEMENT, (2) FIRST TWO ELEMENTS

In [2]:
a = ("q","q","q","q","q")
print(a)
print(a[-1])
print(a[:2])

('q', 'q', 'q', 'q', 'q')
q
('q', 'q')

#  <font color='blue'> 3. DEFINE A TUPLE WITH YOUR FIRST NAME, LAST NAME AND AGE. FIND THE LENGTH AND THE TYPE AS WELL.

In [3]:
a = (3, "asdf", 32)
len(a)

3

In [4]:
type(a)

tuple

# <font color='blue'> 4. PRINT THE NUMBER "40", PRINT THE WORD "WORLD", PRINT THE NUMBER 25, AND PRINT THE ENTIRE LIST AND TUPLE LISTED BELOW

In [6]:
a = ("hello", [87, 40, 60], "world", (10, 25, 30))
a[1][1]

40

In [7]:
a[2]

'world'

In [9]:
a[-1][1]

25

# <font color='blue'> 5.EXECUTE THE FOLLOWING COMMANDS AND EXPLAIN WHAT WENT WRONG AND WHAT WENT RIGHT!

In [10]:
a = (40, 3, 2, [10, 4])

In [11]:
a[3] = 5

TypeError: 'tuple' object does not support item assignment

In [27]:
a[3].append("dev")

In [28]:
a

(40,
 3,
 2,
 [10,
  4,
  'dev',
  'dev',
  'dev',
  'dev',
  'dev',
  'dev',
  'dev',
  'dev',
  'dev',
  'dev',
  'dev',
  'dev',
  'dev',
  'dev',
  'dev',
  'dev'])

# <font color='blue'> 6.EXECUTE THE FOLLOWING COMMANDS AND EXPLAIN WHAT WENT WRONG AND WHAT WENT RIGHT!

In [29]:
a = (40, 3, 2, [10, 4])

# a.clear()
a
# del a[3]

(40, 3, 2, [10, 4])

In [30]:
del a
print(a)

NameError: name 'a' is not defined

# <font color='blue'> 7. CHECK IF THE NAME "PYTHON" EXISTS IN A TUPLE

In [ ]:
a = ('math','science','science','Python','english')

In [ ]:
"PYYHON" in a

# <font color='blue'> 8. REMOVE THE DUPLICATES FROM THE FOLLOWING LIST   </font>

In [31]:
a = ["2", 50, "2", 50, 4, 6, 9, 9]
b = list(set(a))
b

[4, 6, 9, 50, '2']

#  <font color='blue'> 9. ADD YOUR NAME TO THE FOLLOWING SET AND CONVERT INTO A LIST

In [32]:
a = {"sara", "mike", "jon", "jon", "mike"}
a.add("dev")

In [33]:
list(a)

['jon', 'mike', 'sara', 'dev']

#  <font color='blue'> 10. RUN THIS CODE AND EXPLAIN WHAT IT DOES (WE WILL COVER IF CONDITIONS NEXT)

In [ ]:
my_grocery = {"banana", "cherry"}


if ("orange" in my_grocery):
    print("Yes, I have got orange in my grocery list!")

In [ ]:
my_grocery = {"orange", "banana", "cherry"}

if ("orange" in my_grocery):
    print("Yes, I have got orange in my grocery list!")